.section-desciption {
    padding: 120px 0 120px;
  }

  .section-team {
    background-color: #f4f4fd;
    padding: 120px 0 120px;
  }

  .section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }